@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android' ;
    src: url('/desafios/MOD2/desafio 10cv/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{/*variavevais começam com 2 traços*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'android', helvetica;



}
*{ /*conficuração global*/
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00a0\🔗';
}


/*-------------------*/
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header  > h1{
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
    
}

header:em
header > p{
    font-family: var(--fonte-padrao); /*tipo de fonte*/
    font-size: 1.2em; /*tamanho*/
    color: white;
    width: 500px; /*largura maxima*/
    padding-right: 10xp; /*preenchimento laterais*/
    padding-left: 10px;
    margin: auto; /*margem automatica center*/
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
    
}
/*-------------------*/
nav{
    background-color: var(--cor5);
    padding: 10px; /*espaçamento*/
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192); /*sombra na barra de navegação*/


}

nav > a{
    color: var(--cor1);
    padding: 10px;/*espaçamento*/
    border-radius: 4px;
    text-decoration: none; /*sem decoração*/
    font-weight: bold; /*espessura da fonte*/
    transition-duration: 0.7s; /*transição duração NOVO!'*/


}
nav > a:hover{
    background-color:var(--cor3) ;
    color: var(--cor5);
}

/*-----------------*/
main{
    min-width: 320px;
    max-width: 800px;
    margin: auto;  /*centralizado*/
    margin-bottom: 30px; /*margem final*/
    padding: 20px; /*espaçamento do conteudo das bordas*/
    background-color: white; /*cor de fundo*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342); /*sobra atras do conteudo principal*/
    /*border-radius: 0px 0px 10px 10px;*/
    border-bottom-left-radius: 10px; /*arredondamento final*/
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-weight: normal;
    font-family: var(--fonte-android);
    font-size: 1.8em;

}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px; /*Espacamento. pode ser o padding tambem.*/
}
main img{
    width: 100%;
}

/*paragrafos*/
main p{ /*não precisa colocar o > , pois é qualquer p dentro de main*/
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px; /*recuo começando o paragrafo*/
    font-size: 1em;
    line-height: 2em;/*altura da linha*/

}
main img.pequena{
    max-width: 350px;
    display: block;  /*para centralizar a imagem (ja que ela nao é um bloco) adcine o disply block!*/
    margin: auto;
}

main strong{
    color: var(--cor4);
    font-weight: bolder;


}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;/* lembrando 2 valores: cima/baixo e laterais*/

}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
/*video*/
div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 57%;

    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5% ;
    width: 90%;
    height: 90% ;


}

/*conteudo dentro do main*/
/*caixa final*/
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.274);

}

aside > ul{
    list-style-type: ' 🗸\00a0\00a0';/* ou \1F5F8  espaço: 00a0*/
    list-style-position: inside;/*posição da lista*/
    columns: 2;

}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px

}
/*---------------------*/
footer{
    background-color: var(--cor5);
    color: white;
    text-align:center ;
    font-size: 0.8em;/*ou 12.5 px*/
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;

}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);

}